.donation {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px 30px;
		padding: 60px 30px;
		border: 1px solid var(--secondary-500);
		border-radius: var(--border-radius);

		@include mobile {
			flex-direction: column;
		}
		@include mobile-s {
			border: none;
			padding: 15px 0 0 0;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 5px;
	}

	&__title {
		@include fluid-text(24, 34);

		@include mobile {
			text-align: center;
		}
	}

	&__description {
		text-align: center;

		@include mobile-above {
			display: none;
		}
	}

	&__form {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		gap: 10px 30px;

		@include tablet {
			grid-template-columns: 1fr;
		}
	}

	&__form-col {
		&--label {
			align-self: center;
		}

		&--amount {
			display: flex;
			align-self: center;
			align-items: center;
			flex-direction: column;
			row-gap: 30px;
		}

		&--variation {
			display: flex;
			align-items: center;
			column-gap: 10px;
		}
	}

	&__form-col-group {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px 30px;

		@include desktop {
			flex-wrap: wrap;
		}

		@include mobile {
			flex-direction: column;
			gap: 10px 30px;
		}
	}

	&__form-label {
		@include reset-button;
		@include fluid-text(20, 24);

		font-weight: 700;
	}

	&__form-button {
		@include mobile {
			padding: 10px 15px;
		}
	}

	&__form-dropdown {
		padding-inline: 10px;
		padding-bottom: 5px;
		min-width: 250px;
		max-width: 320px;
		border: none;
		border-bottom: 1px solid var(--gray-400);
		color: var(--primary-600);
		background-color: var(--white);
		font-family: var(--font-family-accent);
		font-size: 20px;
		line-height: 1.25;
		text-align: center;
		text-transform: lowercase;
		-moz-appearance: none;
		-webkit-appearance: none;

		&::-ms-expand {
			display: none;
		}

		@include mobile-s {
			min-width: 200px;
			max-width: 290px;
		}
	}

	&__form-input {
		padding-inline: 10px;
		padding-bottom: 5px;
		width: 250px;
		border: none;
		border-bottom: 1px solid var(--gray-400);
		color: var(--secondary-500);
		font-size: 70px;
		line-height: 1;
		font-weight: 700;
		text-align: center;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type='number'] {
			-moz-appearance: textfield;
		}

		@include mobile-s {
			width: 230px;
		}
	}

	&__button-down,
	&__button-up {
		@include reset-button;

		display: flex;
		flex-shrink: 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;
		width: 24px;
		aspect-ratio: 1 / 1;
		z-index: 1;
		transition: background-image var(--transition-duration) ease-in-out;
	}

	&__button-down {
		background-image: url('/images/icons/prev-primary.svg');
		rotate: -90deg;

		@include hover {
			background-image: url('/images/icons/prev-secondary.svg');
		}
	}
	&__button-up {
		background-image: url('/images/icons/next-secondary.svg');
		rotate: -90deg;

		@include hover {
			background-image: url('/images/icons/next-primary.svg');
		}
	}

	&__form-group {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px 10px;
	}

	&__form-scrollabe-select {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-height: 125px;
		overflow-y: scroll;
	}

	&__form-scrollable-item {
		width: fit-content;
		color: var(--gray-400);
		font-size: 24px;
		font-weight: 700;
		white-space: nowrap;

		&.is-active {
			color: var(--primary-600);
		}
	}
}
