.hero {
	background-image: url('/images/bg-wide.png');

	&--unfold {
		.hero__image {
			@include mobile {
				@include full-width;

				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				max-height: 346px;
			}
		}
	}

	&__inner {
		row-gap: 15px;
	}

	&__status {
		@include fluid-text(16, 20);

		&--active {
			color: var(--success);
		}

		&--completed {
			color: var(--secondary-500);
		}

		&::after {
			content: '';
			display: block;
			width: 60px;
			height: 1px;
			background-color: var(--gray-400);
			margin-top: 15px;
		}
	}

	&__content {
		row-gap: 15px;

		@include mobile {
			align-items: flex-start;
			text-align: left;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 15px;
		max-width: 660px;

		&--short {
			max-width: 570px;
		}

		@include mobile {
			max-width: 100%;
		}
	}

	&__title {
		margin-bottom: 0;
		text-wrap: wrap;
	}

	&__description {
		display: flex;
		flex-direction: column;
		row-gap: 15px;

		address {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			margin-bottom: 30px;
		}

		dl {
			display: flex;
			flex-direction: column;
			row-gap: 3px;
		}

		dt {
			color: var(--gray-700);
			font-size: 12px;
		}

		dd {
			font-family: var(--font-family-accent);
			color: var(--black);
			font-size: 20px;
			line-height: 1.25;
			font-weight: 700;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 30px;
		margin-top: calc(50px - 15px); // (necessary margin-top minus row-gap)

		&--short-top {
			margin-top: calc(30px - 15px);
		}

		@include mobile {
			flex-direction: column;
			margin-top: 0;
			width: 100%;
		}
	}

	&__button {
		flex-shrink: 0;
	}

	&__image {
		@include mobile {
			display: none;
		}
	}
}
