.hero {
	background-image: url('/images/bg-wide.png');

	.donation__form-scrollable-item {
		font-size: 20px;

		&.is-active {
			--underlineOffsetTop: 10px;

			@include underline-wave;

			color: var(--secondary-500);

			&::before {
				opacity: 0.5;
			}
		}
	}

	&--donation {
		padding-top: 30px;
		background-image: none;

		@include mobile {
			background-image: url('/images/bg-wide.png');
		}

		@include mobile {
			padding-top: 10px;
		}

		.hero__link {
			right: 30px;

			@include mobile {
				right: 0;
			}
		}

		.banner__image {
			right: calc(50% + 15px);

			@include mobile {
				right: 0;
			}
		}

		.hero__image {
			background-image: url('/images/bg-wide.png');

			img {
				padding-top: 30px;
				padding-right: 30px;

				@include mobile {
					padding-top: 0;
					padding-right: 0;
				}
			}
		}

		.donation__form {
			gap: 10px 15px;

			@include tablet {
				justify-items: flex-start;
			}

			@include mobile {
				justify-items: center;
			}
		}

		.donation__form-label {
			font-size: 20px;
		}

		.donation__form-col-group {
			gap: 10px 15px;

			@include tablet {
				width: min-content;
			}

			@include mobile {
				width: auto;
			}
		}

		.donation__form-group {
			flex-direction: column-reverse;
		}

		.donation__form-input {
			width: 220px;
			font-size: 60px;
		}
	}

	&--fund {
		@include mobile {
			background-image: none;
		}

		.hero__link {
			left: 0;
		}

		.banner__image {
			left: calc(50% - 15px);

			@include mobile {
				left: 0;
				justify-content: flex-end;
			}
		}
	}

	&__link {
		@include fluid-text(20, 24);

		position: absolute;
		bottom: 0;
		border-radius: 0;
		font-family: var(--font-family-base);
		font-weight: 700;
		text-transform: inherit;
	}

	&--unfold {
		.hero__image {
			@include mobile {
				@include full-width;

				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				height: 346px;
			}
		}
	}

	&__inner {
		row-gap: 15px;
	}

	&__status {
		@include fluid-text(16, 20);

		&--active {
			color: var(--success);
		}

		&--completed {
			color: var(--secondary-500);
		}

		&::after {
			content: '';
			display: block;
			width: 60px;
			height: 1px;
			background-color: var(--gray-400);
			margin-top: 15px;
		}
	}

	&__content {
		row-gap: 15px;

		@include mobile {
			align-items: flex-start;
			text-align: left;
		}

		&--center {
			@include mobile {
				align-items: center;
				text-align: center;
			}

			.hero__text {
				@include mobile {
					align-items: center;
				}
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 15px;
		max-width: 660px;

		&--short {
			max-width: 570px;
		}

		@include mobile {
			max-width: 100%;
		}
	}

	&__title {
		margin-bottom: 0;
		text-wrap: wrap;
	}

	&__description {
		display: flex;
		flex-direction: column;
		row-gap: 15px;

		address {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			margin-bottom: 30px;
		}

		dl {
			display: flex;
			flex-direction: column;
			row-gap: 3px;
		}

		dt {
			color: var(--gray-700);
			font-size: 12px;
		}

		dd {
			font-family: var(--font-family-accent);
			color: var(--black);
			font-size: 20px;
			line-height: 1.25;
			font-weight: 700;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 30px;
		margin-top: calc(50px - 15px);

		&--short-top {
			margin-top: calc(30px - 15px);
		}

		@include mobile {
			flex-direction: column;
			margin-top: 0;
			width: 100%;
		}
	}

	&__button {
		flex-shrink: 0;
	}

	&__image {
		@include mobile {
			display: none;
		}
	}
}
