.histories {
	&__swiper {
		max-width: 2560px;
	}

	&__card {
		position: relative;
		display: flex;
		height: 350px;
		width: 100%;
		overflow: hidden;

		@include hover {
			.histories__card-image {
				filter: brightness(0.8);
			}

			.histories__card-overlay::after {
				scale: 1;
			}
		}
	}

	&__card-image {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		flex-shrink: 0;
		height: 100%;
		width: inherit;
		z-index: 0;
		object-fit: cover;
		transition: filter var(--transition-duration) ease-in-out;
	}

	&__card-overlay {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		width: 100%;
		z-index: 1;
		color: var(--white);
		box-shadow: 0 -100px 25px -10px rgba(0, 0, 0, 0.4) inset;
		transition: box-shadow var(--transition-duration) ease-in-out;

		&::after {
			content: '';
			display: block;
			width: 45px;
			height: 40px;
			background-image: url('/images/icons/play.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			scale: 0;
			transition: scale var(--transition-duration) ease-in-out;
			z-index: 2;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include tablet {
			grid-template-columns: 1fr;
			width: 100%;
		}

		@include mobile {
			max-width: 480px;
		}
	}

	&__item {
		position: relative;
		display: flex;
		width: 100%;
		min-height: 326px;

		&:nth-child(4n + 1),
		&:nth-child(4n + 2) {
			.histories__item-header {
				&::after {
					content: '';
					display: block;
					position: absolute;
					right: 0;
					rotate: 180deg;
					width: 0;
					height: 0;
					border-left: 21px solid var(--white);
					border-top: 28px solid transparent;
					border-bottom: 28px solid transparent;
				}
			}
		}

		&:nth-child(4n + 3),
		&:nth-child(4n + 4) {
			flex-direction: row-reverse;

			.histories__item-header {
				&::after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					rotate: 180deg;
					width: 0;
					height: 0;
					border-right: 21px solid var(--white);
					border-top: 28px solid transparent;
					border-bottom: 28px solid transparent;
				}
			}
		}

		@include tablet {
			&:nth-child(4n + 3),
			&:nth-child(4n + 4) {
				flex-direction: row;
			}

			&:nth-child(2n) {
				flex-direction: row-reverse;
			}

			&:nth-child(4n + 2) {
				.histories__item-header {
					&::after {
						right: unset;
						left: 0;
						rotate: 0deg;
					}
				}
			}

			&:nth-child(4n + 3) {
				.histories__item-header {
					&::after {
						left: unset;
						right: 0;
						rotate: 0deg;
					}
				}
			}
		}

		@include mobile {
			flex-direction: column;
			min-height: auto;

			&:nth-child(2n) {
				flex-direction: column;
			}

			&:nth-child(4n + 1),
			&:nth-child(4n + 2) {
				.histories__item-header {
					&::after {
						left: unset;
						right: unset;
						bottom: -18px;
						rotate: 270deg;
					}
				}
			}

			&:nth-child(4n + 3),
			&:nth-child(4n + 4) {
				flex-direction: column;

				.histories__item-header {
					&::after {
						left: unset;
						right: unset;
						bottom: -18px;
						rotate: 90deg;
					}
				}
			}
		}
	}

	&__item-header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		background-color: var(--white);
		overflow: hidden;

		@include mobile {
			width: 100%;
			max-height: 352px;
		}
	}

	&__item-image {
		flex-shrink: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 30px;
		padding: 15px;
		width: 50%;
		overflow: hidden;
		text-align: center;
		font-family: var(--font-family-base);
		font-size: 14px;

		@include mobile {
			width: 100%;
			row-gap: 15px;
		}
	}

	&__description {
		font-size: 20px;
	}

	&__link {
		color: var(--primary-600);

		@include hover {
			color: var(--primary-500);
		}
	}

	&__pagination {
	}
}
