.partners {
	&__grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		width: 100%;

		@include desktop {
			grid-template-columns: repeat(4, 1fr);
		}

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile-s {
			grid-template-columns: 1fr;
		}

		.partners__card {
			min-height: 200px;
		}
	}

	&__swiper-container {
		position: relative;
		padding-inline: 42px;
		width: 100%;
	}

	&__card {
		@include flex-center();

		padding: 15px;
		width: 100%;
		background-color: var(--white);
	}
}
