:root {
	--white: #ffffff;
	--black: #000000;

	--primary-500: #0073b4;
	--primary-600: #03486e;
	--primary-900: #002032;
	--secondary-400: #dd1700;
	--secondary-500: #cb1517;

	--gray-100: #f9f9f9;
	// --gray-200: #e9ecef;
	// --gray-300: #dee2e6;
	--gray-400: #d4d8e1;
	--gray-500: #d7d7d7; // in form
	// --gray-500: #adb5bd;
	// --gray-600: #6c757d;
	--gray-700: #868686;
	--gray-800: #525252; // in form
	--gray-900: #2a3342;

	--success: #00983d;
	--color-girl: #dd2e63;
	--color-boy: #0474b5;

	--shadow-boy: 0px 134px 37px 0px rgba(0, 115, 180, 0),
		0px 86px 34px 0px rgba(0, 115, 180, 0.03),
		0px 48px 29px 0px rgba(0, 115, 180, 0.1),
		0px 21px 21px 0px rgba(0, 115, 180, 0.17),
		0px 5px 12px 0px rgba(0, 115, 180, 0.2);

	--shadow-girl: 0px 134px 37px 0px rgba(203, 21, 23, 0),
		0px 86px 34px 0px rgba(203, 21, 23, 0.03),
		0px 48px 29px 0px rgba(203, 21, 23, 0.1),
		0px 21px 21px 0px rgba(203, 21, 23, 0.17),
		0px 5px 12px 0px rgba(203, 21, 23, 0.2);

	// --border: 1px solid var(--gray-300);
	--border-radius: 5px;
	--border-radius-small: 3px;

	// --shadow: 0 5px 0 0 var(--gray-300);
	--overlay-shadow: rgba(0, 32, 50, 0.6);

	--input-height: 52px;
	--button-height: 48px;

	--font-family-base: 'Geometria', sans-serif;
	--font-family-accent: 'Unbounded', sans-serif;

	--container-width: 1410px;
	--container-padding-x: 17px;

	--transition-duration: 0.2s;

	--section-margin-bottom: 50px;
	@include mobile {
		--section-margin-bottom: 30px;
	}
	// --section-padding-y: 70px;
	// @include desktop {
	// 	--section-padding-y: 50px;
	// }
	// @include mobile {
	// 	--section-padding-y: 30px;
	// }
}
